
@tailwind base;
@tailwind components;
@tailwind utilities;
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
 :root {
	--clr-beige : #FFFEF9; 
	--clr-noir : #1B1616; 
	--clr-rouge : #FF5757; 
	--ff-rm : "Roboto Mono", sans-serif;
}


 @layer base {
	@font-face {
		font-family: 'Bebas';
		src: url(./fonts/Bebas-regular.ttf);
	}
	@font-face {
		font-family: 'Ingrid';
		src: url(./fonts/IngridDarling-Regular.ttf);
	}
 }


@layer components {
	.bouton {
		@apply bg-beige hover:bg-rouge border-2 border-rouge w-fit h-fit px-6 py-2 rounded-2xl font-bold text-rouge hover:text-beige text-2xl cursor-pointer ;
	  }
	.titre{
	  @apply font-bold text-4xl;
	}
	.vignette_projet{
		@apply w-[300px] aspect-square object-cover;
	  }
	  .sr-only {
		border: 0;
		padding: 0;
		margin: 0;
		position: absolute !important;
		height: 1px;
		width: 1px;
		overflow: hidden;
		/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
		clip: rect(1px 1px 1px 1px);
		/* maybe deprecated but we need to support legacy browsers */
		clip: rect(1px, 1px, 1px, 1px);
		/* modern browsers, clip-path works inwards from each corner */
		clip-path: inset(50%);
		/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
		white-space: nowrap;
	}
}



