---
import HeaderLink from './HeaderLink.astro';
const today = new Date();
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

---



<footer class="flex flex-col gap-8 mt-5 mb-10 mx-auto">
    <section class="flex flex-wrap gap-3 text-5xl lg:text-9xl w-4/5 mx-10 mb-16">
        <h2 class="font-titre"> la </h2> <h2 class="font-creative text-rouge"> Créativité </h2> <h2 class="font-titre"> a votre </h2> <h2 class="font-titre">porte</h2>
    </section>
    <section class="flex flex-col justify-center mb-24 mt-8">
        <div class="bg-black h-1 relative z-0 mx-10"></div>
                <HeaderLink class={'font-titre text-3xl absolute z-100 left-1/2 lg:left-3/4 bg-rouge text-beige rounded-full w-fit h-fit py-14 px-8 lg:py-20 lg:px-14 hover:bg-black hover:text-beige cursor-pointer transition-colors duration-200'} href="/contact">Contact</HeaderLink>
    </section>
    <section class="lg:flex gap-4 mx-10 hidden">
        <div class="border-2 bg-beige transition-colors duration-200 hover:bg-black text-black hover:text-beige cursor-pointer border-black rounded-lg w-fit px-6 py-4 text-2xl font-bold"> <p> axel.a.rameau@gmail.com </p> </div>
        <div class="border-2 bg-beige transition-colors duration-200 hover:bg-black text-black hover:text-beige cursor-pointer border-black rounded-lg w-fit px-6 py-4 text-2xl font-bold"> <p> +33 6 45 50 47 63 </p> </div>
    </section>
</footer>
