---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav class="flex justify-between items-center px-12 h-20 font-titre bg-noir">
		<h2 class="text-beige text-xl"><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links flex gap-5">
			<HeaderLink class={'font-titre text-2xl text-beige hover:text-rouge cursor-pointer '} href="/">Accueil</HeaderLink>
			<HeaderLink class={'font-titre text-2xl text-beige hover:text-rouge cursor-pointer '} href="/blog">Projets</HeaderLink>
			<HeaderLink class={'font-titre text-2xl text-beige hover:text-rouge cursor-pointer '} href="/about">A propos</HeaderLink>
			<HeaderLink class={'font-titre text-2xl text-beige hover:text-rouge cursor-pointer '} href="/contact">Contact</HeaderLink>
		</div>
						
		<div class="social-links flex items-center gap-2">
			<a href="https://www.instagram.com/axel_aristote_rameau/" target="_blank">
				<span class="sr-only">Suis moi sur Instagram</span>
				<img class="w-12 h-square"  src="instagram.png" alt="Découvre mes photos">
			</a>
			<a href=https://www.behance.net/43a086d5" target="_blank">
				<span class="sr-only">Tu peux aussi aller sur mon Behance pour voir mes autres projets</span>
				<img class="w-16 h-square" src="behance.png" alt="Découvre mes derniers projets">
			</a>
		</div>
	</nav>
</header>
<style>
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
